<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.imjcker.api.handler.mapper.ApiInfoMapper">

    <select id="findApiInfoById" resultType="com.imjcker.api.handler.po.ApiInfoResponse">
        select apiId, apiName, jsonConfig from api_info_versions_latest
        WHERE apiId = #{apiId}
    </select>
    <select id="getBranchBankAccountList" resultType="com.imjcker.api.handler.model.BranchBankSourceAccount">
        select id,apiId,apiName,apiGroupId,apiGroupName,appKey,dataConfig,sourceFlag,status
        from agency_api_account
        where apiGroupId = #{apiGroupId} and appKey = #{appKey} and status = 1
    </select>
</mapper>
