<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imjcker.manager.manage.mapper.BackendDistributeParamsMapper" >
  <resultMap id="BaseResultMap" type="com.imjcker.manager.manage.po.BackendDistributeParams" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="apiId" property="apiId" jdbcType="INTEGER" />
    <result column="disId" property="disId" jdbcType="INTEGER" />
    <result column="requestParamsId" property="requestParamsId" jdbcType="INTEGER" />
    <result column="paramsType" property="paramsType" jdbcType="INTEGER" />
    <result column="paramName" property="paramName" jdbcType="VARCHAR" />
    <result column="paramValue" property="paramValue" jdbcType="VARCHAR" />
    <result column="paramsLocation" property="paramsLocation" jdbcType="INTEGER" />
    <result column="paramDescription" property="paramDescription" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="BIGINT" />
    <result column="updateTime" property="updateTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, apiId, disId, requestParamsId, paramsType, paramName, paramValue, paramsLocation,
    paramDescription, status, createTime, updateTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.imjcker.manager.manage.po.BackendDistributeParamsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from backend_distribute_params
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from backend_distribute_params
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from backend_distribute_params
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.imjcker.manager.manage.po.BackendDistributeParamsExample" >
    delete from backend_distribute_params
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.imjcker.manager.manage.po.BackendDistributeParams" useGeneratedKeys="true" keyProperty="id">
    insert into backend_distribute_params (id, apiId, disId,
      requestParamsId, paramsType, paramName,
      paramValue, paramsLocation, paramDescription,
      status, createTime, updateTime
      )
    values (#{id,jdbcType=INTEGER}, #{apiId,jdbcType=INTEGER}, #{disId,jdbcType=INTEGER},
      #{requestParamsId,jdbcType=INTEGER}, #{paramsType,jdbcType=INTEGER}, #{paramName,jdbcType=VARCHAR},
      #{paramValue,jdbcType=VARCHAR}, #{paramsLocation,jdbcType=INTEGER}, #{paramDescription,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.imjcker.manager.manage.po.BackendDistributeParams" >
    insert into backend_distribute_params
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="apiId != null" >
        apiId,
      </if>
      <if test="disId != null" >
        disId,
      </if>
      <if test="requestParamsId != null" >
        requestParamsId,
      </if>
      <if test="paramsType != null" >
        paramsType,
      </if>
      <if test="paramName != null" >
        paramName,
      </if>
      <if test="paramValue != null" >
        paramValue,
      </if>
      <if test="paramsLocation != null" >
        paramsLocation,
      </if>
      <if test="paramDescription != null" >
        paramDescription,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="apiId != null" >
        #{apiId,jdbcType=INTEGER},
      </if>
      <if test="disId != null" >
        #{disId,jdbcType=INTEGER},
      </if>
      <if test="requestParamsId != null" >
        #{requestParamsId,jdbcType=INTEGER},
      </if>
      <if test="paramsType != null" >
        #{paramsType,jdbcType=INTEGER},
      </if>
      <if test="paramName != null" >
        #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null" >
        #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="paramsLocation != null" >
        #{paramsLocation,jdbcType=INTEGER},
      </if>
      <if test="paramDescription != null" >
        #{paramDescription,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.imjcker.manager.manage.po.BackendDistributeParamsExample" resultType="java.lang.Integer" >
    select count(0) from backend_distribute_params
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update backend_distribute_params
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.apiId != null" >
        apiId = #{record.apiId,jdbcType=INTEGER},
      </if>
      <if test="record.disId != null" >
        disId = #{record.disId,jdbcType=INTEGER},
      </if>
      <if test="record.requestParamsId != null" >
        requestParamsId = #{record.requestParamsId,jdbcType=INTEGER},
      </if>
      <if test="record.paramsType != null" >
        paramsType = #{record.paramsType,jdbcType=INTEGER},
      </if>
      <if test="record.paramName != null" >
        paramName = #{record.paramName,jdbcType=VARCHAR},
      </if>
      <if test="record.paramValue != null" >
        paramValue = #{record.paramValue,jdbcType=VARCHAR},
      </if>
      <if test="record.paramsLocation != null" >
        paramsLocation = #{record.paramsLocation,jdbcType=INTEGER},
      </if>
      <if test="record.paramDescription != null" >
        paramDescription = #{record.paramDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        updateTime = #{record.updateTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update backend_distribute_params
    set id = #{record.id,jdbcType=INTEGER},
      apiId = #{record.apiId,jdbcType=INTEGER},
      disId = #{record.disId,jdbcType=INTEGER},
      requestParamsId = #{record.requestParamsId,jdbcType=INTEGER},
      paramsType = #{record.paramsType,jdbcType=INTEGER},
      paramName = #{record.paramName,jdbcType=VARCHAR},
      paramValue = #{record.paramValue,jdbcType=VARCHAR},
      paramsLocation = #{record.paramsLocation,jdbcType=INTEGER},
      paramDescription = #{record.paramDescription,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      createTime = #{record.createTime,jdbcType=BIGINT},
      updateTime = #{record.updateTime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.imjcker.manager.manage.po.BackendDistributeParams" >
    update backend_distribute_params
    <set >
      <if test="apiId != null" >
        apiId = #{apiId,jdbcType=INTEGER},
      </if>
      <if test="disId != null" >
        disId = #{disId,jdbcType=INTEGER},
      </if>
      <if test="requestParamsId != null" >
        requestParamsId = #{requestParamsId,jdbcType=INTEGER},
      </if>
      <if test="paramsType != null" >
        paramsType = #{paramsType,jdbcType=INTEGER},
      </if>
      <if test="paramName != null" >
        paramName = #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null" >
        paramValue = #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="paramsLocation != null" >
        paramsLocation = #{paramsLocation,jdbcType=INTEGER},
      </if>
      <if test="paramDescription != null" >
        paramDescription = #{paramDescription,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.imjcker.manager.manage.po.BackendDistributeParams" >
    update backend_distribute_params
    set apiId = #{apiId,jdbcType=INTEGER},
      disId = #{disId,jdbcType=INTEGER},
      requestParamsId = #{requestParamsId,jdbcType=INTEGER},
      paramsType = #{paramsType,jdbcType=INTEGER},
      paramName = #{paramName,jdbcType=VARCHAR},
      paramValue = #{paramValue,jdbcType=VARCHAR},
      paramsLocation = #{paramsLocation,jdbcType=INTEGER},
      paramDescription = #{paramDescription,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=BIGINT},
      updateTime = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
