<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imjcker.manager.manage.mapper.BackendRequestParamsVersionsMapper" >
  <resultMap id="BaseResultMap" type="com.imjcker.manager.manage.po.BackendRequestParamsVersions" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="versionId" property="versionId" jdbcType="VARCHAR" />
    <result column="requestParamsId" property="requestParamsId" jdbcType="INTEGER" />
    <result column="paramsType" property="paramsType" jdbcType="INTEGER" />
    <result column="paramName" property="paramName" jdbcType="VARCHAR" />
    <result column="paramValue" property="paramValue" jdbcType="VARCHAR" />
    <result column="paramsLocation" property="paramsLocation" jdbcType="INTEGER" />
    <result column="paramDescription" property="paramDescription" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, versionId, requestParamsId, paramsType, paramName, paramValue, paramsLocation,
    paramDescription, createTime,backendParamsId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.imjcker.manager.manage.po.BackendRequestParamsVersionsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from backend_request_params_versions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from backend_request_params_versions
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from backend_request_params_versions
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.imjcker.manager.manage.po.BackendRequestParamsVersionsExample" >
    delete from backend_request_params_versions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.imjcker.manager.manage.po.BackendRequestParamsVersions" useGeneratedKeys="true" keyProperty="id">
    insert into backend_request_params_versions (id, versionId, requestParamsId,backendParamsId,
      paramsType, paramName, paramValue,
      paramsLocation, paramDescription, createTime
      )
    values (#{id,jdbcType=INTEGER}, #{versionId,jdbcType=VARCHAR}, #{requestParamsId,jdbcType=INTEGER}, #{backendParamsId,jdbcType=INTEGER},
      #{paramsType,jdbcType=INTEGER}, #{paramName,jdbcType=VARCHAR}, #{paramValue,jdbcType=VARCHAR},
      #{paramsLocation,jdbcType=INTEGER}, #{paramDescription,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.imjcker.manager.manage.po.BackendRequestParamsVersions" >
    insert into backend_request_params_versions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="versionId != null" >
        versionId,
      </if>
      <if test="requestParamsId != null" >
        requestParamsId,
      </if>
      <if test="paramsType != null" >
        paramsType,
      </if>
      <if test="paramName != null" >
        paramName,
      </if>
      <if test="paramValue != null" >
        paramValue,
      </if>
      <if test="paramsLocation != null" >
        paramsLocation,
      </if>
      <if test="paramDescription != null" >
        paramDescription,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="versionId != null" >
        #{versionId,jdbcType=VARCHAR},
      </if>
      <if test="requestParamsId != null" >
        #{requestParamsId,jdbcType=INTEGER},
      </if>
      <if test="paramsType != null" >
        #{paramsType,jdbcType=INTEGER},
      </if>
      <if test="paramName != null" >
        #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null" >
        #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="paramsLocation != null" >
        #{paramsLocation,jdbcType=INTEGER},
      </if>
      <if test="paramDescription != null" >
        #{paramDescription,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.imjcker.manager.manage.po.BackendRequestParamsVersionsExample" resultType="java.lang.Integer" >
    select count(1) from backend_request_params_versions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update backend_request_params_versions
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.versionId != null" >
        versionId = #{record.versionId,jdbcType=VARCHAR},
      </if>
      <if test="record.requestParamsId != null" >
        requestParamsId = #{record.requestParamsId,jdbcType=INTEGER},
      </if>
      <if test="record.paramsType != null" >
        paramsType = #{record.paramsType,jdbcType=INTEGER},
      </if>
      <if test="record.paramName != null" >
        paramName = #{record.paramName,jdbcType=VARCHAR},
      </if>
      <if test="record.paramValue != null" >
        paramValue = #{record.paramValue,jdbcType=VARCHAR},
      </if>
      <if test="record.paramsLocation != null" >
        paramsLocation = #{record.paramsLocation,jdbcType=INTEGER},
      </if>
      <if test="record.paramDescription != null" >
        paramDescription = #{record.paramDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update backend_request_params_versions
    set id = #{record.id,jdbcType=INTEGER},
      versionId = #{record.versionId,jdbcType=VARCHAR},
      requestParamsId = #{record.requestParamsId,jdbcType=INTEGER},
      paramsType = #{record.paramsType,jdbcType=INTEGER},
      paramName = #{record.paramName,jdbcType=VARCHAR},
      paramValue = #{record.paramValue,jdbcType=VARCHAR},
      paramsLocation = #{record.paramsLocation,jdbcType=INTEGER},
      paramDescription = #{record.paramDescription,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.imjcker.manager.manage.po.BackendRequestParamsVersions" >
    update backend_request_params_versions
    <set >
      <if test="versionId != null" >
        versionId = #{versionId,jdbcType=VARCHAR},
      </if>
      <if test="requestParamsId != null" >
        requestParamsId = #{requestParamsId,jdbcType=INTEGER},
      </if>
      <if test="paramsType != null" >
        paramsType = #{paramsType,jdbcType=INTEGER},
      </if>
      <if test="paramName != null" >
        paramName = #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null" >
        paramValue = #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="paramsLocation != null" >
        paramsLocation = #{paramsLocation,jdbcType=INTEGER},
      </if>
      <if test="paramDescription != null" >
        paramDescription = #{paramDescription,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.imjcker.manager.manage.po.BackendRequestParamsVersions" >
    update backend_request_params_versions
    set versionId = #{versionId,jdbcType=VARCHAR},
      requestParamsId = #{requestParamsId,jdbcType=INTEGER},
      paramsType = #{paramsType,jdbcType=INTEGER},
      paramName = #{paramName,jdbcType=VARCHAR},
      paramValue = #{paramValue,jdbcType=VARCHAR},
      paramsLocation = #{paramsLocation,jdbcType=INTEGER},
      paramDescription = #{paramDescription,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>


</mapper>
