<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.imjcker.gateway.mapper.CustomerMapper">

    <resultMap id="company" type="com.imjcker.gateway.po.CompanyApps">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="app_key" jdbcType="VARCHAR" property="appKey"/>
        <result column="app_name" jdbcType="VARCHAR" property="appName"/>
        <result column="aCreateTime" jdbcType="BIGINT" property="createTime"/>
        <result column="aUpdateTime" jdbcType="BIGINT" property="updateTime"/>
        <result column="status_flag" jdbcType="INTEGER" property="statusFlag"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="balance" jdbcType="DECIMAL" property="balance"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="strategy_uuid" jdbcType="VARCHAR" property="strategyUuid"/>
        <result column="private_key" jdbcType="VARCHAR" property="privateKey"/>
        <result column="public_key" jdbcType="VARCHAR" property="publicKey"/>
    </resultMap>

    <select id="findCustomerByAppKey" resultMap="company" parameterType="com.imjcker.gateway.po.CompanyApps">
        select a.id,a.app_key,a.app_name,a.create_time as aCreateTime,a.update_time as aUpdateTime,
        a.status_flag,a.description,a.balance,a.stock,a.price,a.strategy_uuid,a.private_key,a.public_key
        from company_apps a where a.status_flag = 1 and a.app_key = #{appKey}
    </select>
</mapper>
