<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imjcker.manager.charge.mapper.AuthDifferentStockMapper">
  <resultMap id="BaseResultMap" type="com.imjcker.manager.charge.po.AuthDifferentStock">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="app_key" jdbcType="VARCHAR" property="appKey" />
    <result column="api_id" jdbcType="INTEGER" property="apiId" />
    <result column="stock_value" jdbcType="INTEGER" property="stockValue" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, app_key, api_id, stock_value, create_time
  </sql>

  <insert id="insertByList">
    insert into auth_different_stock(app_key, api_id, stock_value, create_time) values
    <foreach collection="list" item="item" separator=",">
      (#{item.appKey},#{item.apiId},#{item.stockValue},#{item.createTime})
    </foreach>
  </insert>
</mapper>
